<a href="/"><button type="button"></button>Return to Profile</a>

<form class="" action="/profile" method="post">
  <label for="">Question</label>
  <input type="text" name="question" value="">
  <label for="">Answer One:</label>
  <input type="text" name="answer_one" value="">
  <label for="">Answer Two:</label>
  <input type="text" name="answer_two" value="">
  <label for="">Answer Three:</label>
  <input type="text" name="answer_three" value="">
  <label for="">Answer Four:</label>
  <input type="text" name="answer_four" value="">
</form>
