<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz Meet</title>
    <link rel="stylesheet" href="../main.css">
  </head>
  <body>

    <header class="head">
      <h1>Welcome to Quiz Meet</h1>
    </header>
    <h2 class="head">{{title}}</h2>
    <a class="frontbuttons"  href="/sign-up"><button type="button">Sign Up</button></a>
    <br>
    <a class="frontbuttons" href="/log-in"><button type="button">Log In</button></a>



    <script type="text/javascript" src="./app.js">

    </script>
  </body>
</html>
