<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="stylesheet" href="../main.css">
  </head>
  <body>
    <a class="inform" href="/">Home</a>
    {{msg}}

    <form class="" action="/profile" method="post">
      <input hidden type="text" name="id" value="{{user.id}}">
      <div class="inform">
        <label for="">Username</label>
        <input type="text" name="username" value="">
      </div>
      <div class="inform">
        <label for="">Password</label>
        <input type="password" name="password" value="">
      </div>
      <button type="submit">Log In</button>
    </form>
  </body>
</html>
