<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oops</title>
    <link rel="stylesheet" href="../main.css">
  </head>
  <body>
    <div class="inform">
      {{message}}
    </div>

    <div class="inform">
      <a href="/">HOME</a>
    </div>

  </body>
</html>
