<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../main.css">
  </head>
  <body>
    <div class="inform">
      <a href="/">HOME</a>
    </div>
    <div class="inform">
      <h1>Welcome to your profile {{msg}}</h1>
    </div>
    <div class="inform">
      <table style="border:2px solid black;">
        <tr>
          <td style="height:100px;width:100px;"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>


    <div class="inform">
      <a href="/addquiz"><button type="button"></button>Quiz Me!</a>
    </div>




  </body>
</html>
