<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <h1>Welcome to your profile</h1>
    {{msg}}

    <a href="/gotoquizzes"><button type="button"></button>Quiz Me!</a>



  </body>
</html>
