<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <a href="/">HOME</a>
    <h1>Welcome to your profile {{msg}}</h1>


    <a href="/addquiz"><button type="button"></button>Quiz Me!</a>



  </body>
</html>
