<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../main.css">
  </head>
  <body>
    <a class="inform" href="/">Home</a>
    {{msg}}

    <form class="" action="/newest-user" method="post">
      <div class="inform">
        <label for="">Username</label>
        <input type="text" name="username" value="">
      </div>
      <div class="inform">
        <label for="">Password</label>
        <input type="text" name="password" value="">
      </div>
      <div class="inform">
        <label for="">First Name</label>
        <input type="text" name="first_name" value="">
      </div>
      <div class="inform">
        <label for="">Last Name</label>
        <input type="text" name="last_name" value="">
      </div>
      <div class="qq">
        <label for="">Quiz Question</label>
        <input type="text" name="question" value="">
      </div>

      <div class="inform">
        <label for="">Answer One</label>
        <input type="text" name="answer_one" value="">
      </div>

      <div class="inform">
        <label for="">Answer Two</label>
        <input type="text" name="answer_two" value="">
      </div>
      <div class="inform">
        <label for="">Answer Three</label>
        <input type="text" name="answer_three" value="">
      </div>
      <div class="inform">
        <label for="">Answer Four</label>
        <input type="text" name="answer_four" value="">
      </div>


      <button class="inform" type="submit">Submit</button>
    </form>

  </body>
</html>
